Django==3.2.7
django-crispy-forms==1.12.0
django-ajax-helpers==0.0.17
django-filtered-datatables==0.0.20
django-otp
qrcode
django-tab-menus==0.0.14
django-nested-modals==0.0.18
django-show-source-code==0.0.7
Sphinx
celery
redis
flower
django-celery-email