<!doctype html>
{% load static modal_tags src_code ajax_helpers %}

<html>
<head>
 <meta name="viewport" content="width=device-width, initial-scale=1">

    {% lib_include 'ajax_helpers' 'Bootstrap' 'FontAwesome' module='ajax_helpers.includes' %}
    {% lib_include 'Modals' 'Toggle' 'select2' 'JQueryUI' 'TinyMce' module='django_modals.includes' %}
    {% lib_include module='django_menus.includes' %}
    {% lib_include 'datatable' module='django_datatables.includes' %}
    {% lib_include module='show_src_code.includes' %}

</head>
<body>

{% block body %}
{% endblock %}

</body>
</html>
